
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;


$black: #000000;
$white: #FFFFFF;
$beige:#F2F2F2;
$gray-light: #7A7A7A;
$gray-dots :#BDBDBD;
$gray-line:#C0C0C0;
$primary: #F8475F;
$gray-dark: #333333;
$gray-medium: #585858;
$background-light: #E6E8EA;
$secondary: #D7182A;


